/*.mod-return*/
.mod-return{
    display: none;
    width: 518px;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.mod-return a{
    color: #000;
}
.mod-return .header{
    height: 38px;
    line-height: 38px;
    padding: 0 5px;
    background-color: #ededed;
}
.mod-return .header .crumb{
    padding-left: 10px;
}
.mod-return .header .close{
    float: right;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    background: url("../img/close.png");
}
.mod-return .content{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.mod-return .content .scan{
    float:left;
    width: 272px;
    height: 17px;
    padding: 7px;
    margin: 17px 0 17px 56px;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}
.mod-return .scan input{
    float: left;
    width: 255px;
    height: 17px;
    line-height: 17px;
    border: none;
}
.mod-return .scan button{
    float: left;
    width: 17px;
    height: 17px;
    background: url("../img/search.png");
    border: none;
}
.mod-return .refresh{
    float: left;
    width: 18px;
    height: 18px;
    margin-left: 30px;
    margin-top: 24px;
    background: url("../img/refresh.png");
    border: none;
}
.pay-back-list{
    color: #000000;
    font-size: 12px;
    width: 400px;
    height: 150px;
    overflow-x: hidden;
    text-align: center ;
}
.pay-back-list li{
    width: 400px;
    height: 30px;
}
.pay-back-list li.detail{
    height: 26px;
}
.pay-back-list span{
    background-color: #ededed;
    color: #000;
    height: 30px;
    line-height: 30px;
    display: block;
    padding: 0;
    margin-top: 1px;
    margin-right: 1px;
    float: left;
    text-align: center ;
}
.pay-back-list .detail span{
    color:#808080;
    height:26px;
    line-height:26px;
}
.pay-back-list .item{
   width: 115px ;
}
.pay-back-list .numb,
.pay-back-list .person{
    width: 70px;
}
.pay-back-list .time{
    width: 75px;
}
.pay-back-list .state {
    width: 65px;
}
.pay-back-list .state a{
    text-decoration: none;
    color:red;
}
.mod-pay-return {
    display: none;
    width: 518px;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.mod-pay-return .header{
    height: 38px;
    line-height: 38px;
    padding: 0 5px;
    background-color: #ededed;
}
.mod-pay-return .header .crumb{
    padding-left: 10px;
}
.mod-pay-return .header .sport{
    margin-left: 30px;
}
.mod-pay-return .header .name{
    margin-left: 30px;
}

.mod-pay-return .close{
    float: right;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    background: url("../img/close.png");
}
.mod-pay-return textarea{
    margin: 18px 120px 10px 120px;
    width: 272px;
    height: 128px;
    padding: 8px;
    line-height: 16px;
    border: #000 1px solid;
    text-decoration: none;
}
.mod-pay-return button{
    float: right;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 78px;
    height: 24px;
    line-height: 24px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 1px 1px #188ea2;
    background-color: #29bcd7;
    color: #fff;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.mod-pay-money {
    display:none;
    width: 520px;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.mod-pay-money a{
    color: #000;
}
.mod-pay-money .header{
    height: 38px;
    line-height: 38px;
    padding: 0 5px;
    background-color: #ededed;
}
.mod-pay-money .header .crumb{
    padding-left: 10px;
}
.mod-pay-money .header .sport{
    margin-left: 30px;
}
.mod-pay-money .header .hand-card{
    margin-left: 30px;
}
.mod-pay-money .header .close{
    float: right;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    background: url("../img/close.png");
}
.mod-pay-money .content{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.mod-pay-money .pay-src{
    line-height: 24px;
    margin: 13px auto 19px;
}
.mod-pay-money .pay-src .pay-type{
    float: left;
    height: 24px;
    margin-left: 90px;
}
.mod-pay-money .pay-type li{
    float: left;
    width: 72px;
    border: 1px solid #000;
    border-left: none;
    background-color: #ededed;
    text-align: center;
    cursor: pointer;
}
.mod-pay-money .pay-type li.member{
    border-left: 1px solid #000;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.mod-pay-money .pay-type li.card{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.mod-pay-money .pay-type li.selected{
    color: #fff;
    background-color: #4d4d4d;
}
.mod-pay-money .pay-line{
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.mod-pay-money .pay-line .pay-label{
    height: 32px;
    line-height: 32px;
    float:left;
}

.mod-pay-money .pay-line .pay-amount{
    color: #ff6b00;
    font-size: 16px;
    font-weight: bold;
    float:left;
}
.mod-pay-money .pay-line .pay-amount span{
    float:left;
}

.mod-pay-money .pay-line .pay-amount input{
    color: #ff6b00;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 110px;
    height: 32px;
    float: left;

}
.mod-pay-money .pay-line .edit{
    display: inline-block;
    width: 56px;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    margin-left:25px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #ededed;
    text-align: center;
    text-decoration: none;
}
.mod-pay-money .pay-line .pay-now{
    float: right;
    width: 60px;
    height: 24px;
    margin-top: 3px;
    margin-right: 5px;
    line-height: 24px;
    border-radius: 12px;
    border: 1px solid #000;
    background-color: #ededed;
    text-align: center;
    text-decoration: none;
}
.mod-pay-money .user-info .txt-info{
    float: left;
    width: 270px;
}
.mod-pay-money .txt-info li{
    float: left;
    width: 270px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #ededed;
    overflow: hidden;
}
.mod-pay-money .txt-info span{
    display: inline-block;
    height: 50px;
}
.mod-pay-money .txt-info .title{
    width: 70px;
    padding-right: 20px;
    text-align: right;
}
.mod-pay-money .txt-info .name em{
    font-size: 15px;
}
.mod-pay-money .txt-info .money-left .value{
    font-size: 16px;
    font-weight: bold;
    color: #ff6b00;
}
.mod-pay-money .user-info .pic{
    float: right;
    width: 125px;
    height: 155px;
    overflow: hidden;
}
.mod-pay-money .for-member-card{
    display: none;
    margin-top: 15px;
}
