
.mod-consume{
    display: none;
    width: 518px;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    font-size:15px;
    font-weight: normal;
}
.mod-consume a{
    color: #000;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border:none;
}
.mod-consume .header{
    height: 38px;
    line-height: 38px;
    padding: 0 5px;
    background-color: #ededed;
}
.mod-consume .header .crumb{
    padding-left: 10px;
}
.mod-consume .header .type{
    padding-left: 20px;
}
.mod-consume .header .place-num{
    border: none;
    height: 24px;
    background-color: #ededed;
}
.mod-consume .header .hand-card{
    margin-left: 45px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 5px;
}
.mod-consume .header .close{
    float: right;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    background: url("../../img/close.png");
}
.mod-consume .content{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.mod-consume .content .scan{
    width: 272px;
    height: 17px;
    padding: 7px;
    margin: 17px auto 0 56px;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}
.mod-consume .scan input{
    float: left;
    width: 255px;
    height: 17px;
    line-height: 17px;
    border: none;
}
.mod-consume .scan button{
    float: left;
    width: 17px;
    height: 17px;
    background: url("../../img/search.png");
    border: none;
}
.mod-consume .tips{
    display: block;
    color:#188ea2;
    width: 400px;
    text-align: center;
    height:28px;
    line-height: 28px;
    font-size: 16px;
}
.mod-consume .user-info{
    width: 400px;
    height:155px;
    font-size:12px;
}
.mod-consume .user-info .txt-info{
    width:270px;
    height:155px;
    float:left;
    border-radius: 5px;
    overflow: hidden;
}
.mod-consume .txt-info li{
    width: 270px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 1px;
    background-color: #ededed;
    overflow: hidden;
}
.mod-consume .txt-info span{
    display: inline-block;
    height: 50px;
}
.mod-consume .txt-info .title{
    width: 70px;
    padding-right: 20px;
    text-align: right;
}
.mod-consume .txt-info .name em{
    font-size: 15px;
}
.mod-consume .txt-info .money-left .value{
    font-size: 16px;
    font-weight: bold;
    color: #ff6b00;
}
.mod-consume .txt-info .valid em{
    color: #ff6b00;
}

.mod-consume .txt-info .charge{
    font-size:15px;
    float: right;
    width: 75px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    margin: 9px 10px 0 0;
    background-color: #ff6b00;
    box-shadow: 0 2px 1px 1px #cc5600;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.mod-consume .txt-info .charge:hover{
    color: #fff !important;
}
.mod-consume .user-info .pic{
    float: right;
    width: 125px;
    height: 152px;
    overflow: hidden;
}
.mod-consume .content .time{
    width: 400px;
    height:93px;
    margin-top:10px;
    margin-bottom: 18px;
    overflow: hidden;
    font-size:12px;
}
.mod-consume .content .time-list li{
    width: 99px;
    height: 30px;
    overflow:hidden;
    line-height: 30px;
    margin-right: 1px;
    margin-bottom: 1px;
    color: #000;
    background-color: #ededed;
    float: left;
    text-align: center;
    cursor:pointer;
}
.mod-consume .content .time-list .selected{
    background-color: #29bcd7;
    color: #fff;
}
.mod-consume .pay-src{
    line-height: 24px;
    margin: 13px auto 19px;
}
.mod-consume .pay-src .pay-type{
    float: left;
    height: 24px;
}
.mod-consume .pay-src .pay-detail{
    float: right;
    width: 70px;
    height: 24px;
    margin-right: 15px;
    margin-top:3px;
    line-height: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 1px 1px #188ea2;
    background-color: #29bcd7;
    color: #fff;
}
.mod-consume .pay-type li{
    float: left;
    width: 72px;
    border: 1px solid #000;
    border-left: none;
    background-color: #ededed;
    text-align: center;
    cursor: pointer;
}
.mod-consume .pay-type li.member{
    border-left: 1px solid #000;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.mod-consume .pay-type li.card{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.mod-consume .pay-type li.selected{
    color: #fff;
    background-color: #4d4d4d;
}
.mod-consume .pay-line {
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.mod-consume .pay-line .pay-amount{
    color: #ff6b00;
    font-size: 16px;
    font-weight: bold;
}
.mod-consume .pay-line .pay-amount input{
    width: 90px;
    color: #ff6b00;
    border: none;
    font-size: 16px;
}
.mod-consume .pay-line .edit{
    background:url("../../img/edit.png");
    width: 29px;
    height: 27px;
}
.mod-consume .pay-line .pay-now,
.mod-consume .pay-line .pay-later{
    float: right;
    width: 70px;
    height: 24px;
    margin-right: 15px;
    margin-top:3px;
    line-height: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 1px 1px #188ea2;
    background-color: #29bcd7;
    color: #fff;
}
.mod-consume .for-member-card{
    display: none;
    margin-top: 15px;
}

/*.mod-consume-detail*/
.mod-consume-detail{
    display: none;
    width: 342px;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.mod-consume-detail a{
    color: #000;
}
.mod-consume-detail .header{
    height: 38px;
    line-height: 38px;
    padding: 0 5px;
    background-color: #ededed;
}
.mod-consume-detail .header .crumb{
    padding-left: 10px;
}
.mod-consume-detail .header .type{
    padding-left: 20px;
}
.mod-consume-detail .header .close{
    float: right;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    background: url("../../img/close.png");
}
.mod-consume-detail .content{
    width: 322px;
    margin: 0 auto;
    padding-bottom: 20px;
    overflow: hidden;
}
.mod-consume-detail .content .list-title{
    height: 26px;
    line-height: 26px;
    margin: 10px 0;
}
.mod-consume-detail .list-title .title{
    margin-right: 20px;
}
.mod-consume-detail .list-title .print{
    float: right;
    margin-right: 10px;
    width: 78px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 1px 1px #188ea2;
    background-color: #29bcd7;
    color: #fff;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}
.mod-consume-detail .list-title .print:hover{
    color: #fff !important;
}
.mod-consume-detail .consume-list{
    height: 123px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.mod-consume-detail .consume-list ul{
    width: 323px;
}
.mod-consume-detail .consume-list li{
    height: 30px;
}
.mod-consume-detail .consume-list li.title{
    color: #808080;
}
.mod-consume-detail .consume-list span{
    float: left;
    width: 131px;
    height: 30px;
    line-height: 30px;
    margin: 0 1px 1px 0;
    background-color: #ededed;
    text-align: center;
    overflow: hidden;
}
.mod-consume-detail .consume-list span.no{
    width: 58px;
    color: #808080;
}
.mod-consume-detail .last-line{
    height: 18px;
    line-height: 18px;
    margin-top: 17px;
}
.mod-consume-detail .last-line .total{
    float: right;
}
.mod-consume-detail .last-line .value{
    font-size: 16px;
    font-weight: bold;
    color: #ff6b00;
}


/*.mod-pop-recharge*/
.mod-pop-recharge{
    display: none;
    width: 518px;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.mod-pop-recharge a{
    color: #000;
}
.mod-pop-recharge .header{
    height: 38px;
    line-height: 38px;
    padding: 0 5px;
    background-color: #ededed;

}
.mod-pop-recharge .header .crumb{
    padding-left: 10px;
}
.mod-pop-recharge .header .close{
    float: right;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    background: url("../../img/close.png");
}
.mod-pop-recharge .content{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.mod-pop-recharge .recharge{
    width: 254px;
    height: 32px;
    border: #ff6b00 solid 2px;
    border-radius: 17px;
    border-right: none;
    color: #000;
    line-height: 32px;
    margin: 30px auto 20px;
}
.mod-pop-recharge .recharge input{
    float: left;
    border: none;
    height: 24px;
    line-height: 24px;
    margin-left: 11px;
    width: 166px;
    margin-top: 3px;
}
.mod-pop-recharge .recharge button{
    width: 77px;
    height: 36px;
    border-radius: 17px;
    color: #ffffff;
    background-color: #ff6b00;
    line-height: 36px;
    float: right;
    margin-top: -2px;
    border: none;
    text-align: center ;
    cursor: pointer;
    box-shadow: 0 -2px 1px 1px #cc5600 inset;
}
.mod-pop-recharge .pay-src .pay-type{
    width: 130px;
    height: 28px;
    margin: 20px auto 34px;
    padding:0;
}
.mod-pop-recharge .pay-type li{
    float: left;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 59px;
    color: #000;
    background-color: #ffffff;
    border:#000 solid  2px;
    cursor: pointer;
}
.mod-pop-recharge .pay-type .cash{
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.mod-pop-recharge .pay-type .card{
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
.mod-pop-recharge .pay-type .selected{
    color: #fff;
    background-color: #000;
}